.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 31%;
    padding: 20px;
    border: 2px solid black;
    margin: 1% auto;
}

.information {
    display: flex;
    justify-content: space-between;
}

.card img {
    width: 100%;
    cursor: pointer;
}