.checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
}

.buttoncontainer{
    display: flex;
    width: 500px;
    justify-content: space-between;
}