.contact {
    display: grid;
    place-items: center;
    width: 100vw;
    height: calc(100vh - var(--navbarHeight));
}

.contact >main {
    display: flex;
    padding: 0 10px;
}

.image {
    width: 50vw;
}