:root {
  --primaryColor: white;
  --secondaryColor: #fe424d;
  --bg: #022d41;
  --navbarHeight: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  /* display: flex; */
  width: 100vw;
  height: 100vh;
}

ul {
    display: flex;
}

li{
  margin: 0 40px;
  list-style: none;
}

a {
  color: inherit;
  font-size: xx-large;
  text-decoration: none;
}